#dbc2cf,
#9fa2b2,
#3c7a89,
#2e4756,
#16262e * {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(./images/5935.jpg);
    background-position: center center;
    background-size: cover;
}

nav {
    position: relative;
    width: 100vw;
    height: 80px;
    background-color: #6F9469;
    border: 3px;
    border-style: solid;
    border-radius: 50px;
}

.ul-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 200px;
}

.img-nav {
    height: 50px;
    width: 60px;
    display: inline-block;
    margin: 10px 0 10px 20px;
}

li {
    display: inline-block;
}

section {
    width: 100vw;
}

h1 {
    margin: 50px auto 50px auto;
    width: 500px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
}

section p {
    margin: 0 auto 50px auto;
    width: 800px;
    text-align: center;
    color: #ffffff;
}

.img1 {
    border: 3px;
    border-style: solid;
    border-color: rgb(223, 214, 214);
    border-radius: 20px;
    margin: 0 auto 50px auto;
    display: block;
}

.saibamais {
    margin: 0 auto 50px auto;
    width: 100px;
    display: block;
}


.sec3 iframe {
    margin: 0 auto 50px auto;
    text-align: center;
    width: 560px;
    display: block;
}

.img-Wrapper {
    margin: 0 auto 50px auto;
    text-align: center;
    width: 600px;
}

.img-Wrapper img {
    display: inline-block;
}